target/
!.mvn/wrapper/maven-wrapper.jar

### STS ###
.apt_generated
.classpath
.factorypath
.project
.metadata
.settings
.springBeans

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
.vscode

### NetBeans ###
nbproject/private/
build/
nbbuild/
# dist/
nbdist/
.nb-gradle/

.DS_Store
/hs_err_pid30054.log
/core

### Nodejs ###
node_modules
node

### VS Code ###
.vscode
